.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata


/2018-03 Report Files
/2018-04 Report Files
/2018-05 Report Files
/Excel Monthly Reports
/Monthly_Report_cache
/Inrix
/TE_Reports
/TEAMS Reports
/Vehicle and Ped Detector Info
/purgatory


*.feather
*.fst
*.csv
*.xlsx
*.docx
*.rds
*.log
*.exe

!corridors.feather
Monthly_Report_AWS.yaml
google-analytics*

DocumentClient*
SharedDataContracts*