.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata

/__pycache__
/Monthly_Report_cache
/Inrix
/TEAMS_Reports
/purgatory
/Signal_Dashboards
/*monetdb*
/rsconnect
/.spyproject

*.RData
*.feather
*.fst
*.csv
*.xlsx
*.docx
*.rds
*.log
*.exe
*.pyc
*.db
*.ipynb

!corridors.feather
Monthly_Report_AWS.yaml
google-analytics*

DocumentClient*
DocumentClient.exe
SharedDataContracts*
